body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(5, 124, 124, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  height: 5rem;
  bottom: 0;
  background: transparent;
  color: #fff;
  align-items: center;
}

#footnote {
  font-weight: 400;
  height: 100%;
  padding-top: 1.5rem;
}

#tag {
  font-family: Ink free, cursive, sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  font-style: italic;
  color: rgb(219, 193, 25);
}
